@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Sora", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f9fafb;
  width: 100%;
}
/* 
.sideBar li {
  @apply flex gap-2 items-center justify-between;
} */

.menuHoveState {
  @apply px-5 hover:bg-hoverBG py-3 flex gap-2 items-center justify-between;
}
.active {
  @apply px-5 bg-hoverBG  py-3 flex gap-2 items-center justify-between;
}
.iconStateColor {
  @apply group-[aria-current-page]:text-brandColor-2 group-hover:text-brandColor-2;
}
.paragraphText {
  @apply group-[aria-current-page]:text-text-color group-hover:text-text-color;
}

.iconText {
  @apply flex gap-2 items-center text-active-color text-base;
}

/* Account boxes section CSS */
.account-box-1 {
  @apply bg-white rounded-[20px] py-3 px-6 flex flex-col gap-4 shadow-sm;
}

.account-box {
  @apply bg-brandColor-1 rounded-[20px] py-3 px-6 flex flex-col gap-4 border-[1px] border-gray-600;
}

/* Table CSS */
th {
  @apply text-xs text-left font-medium p-3 border border-active-color;
}
td {
  @apply text-xs font-normal p-2 border border-[#F0F2F5];
}
